.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 12px 0;
}

.title {
  display: flex;
  margin-bottom: 24px;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  margin-bottom: 6px;
  margin-left: 24px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}

.tableRowCellLeft {
  display: flex;
  flex: 0 1 auto;
}
